/* Font */

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* Design */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    font-family: 'Roboto Mono';
    padding: 0;
}

main {
    width: 80%;
    margin: 0 auto;
}

.titulo {
    color: white;
    font-size: 28px;
    font-weight: 900;
    text-align: center;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.btn {
    color: #000000;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.993);
    background: transparent;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.12);
}

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 1;
    padding: 0;
}

.cards_item {
    display: flex;
    padding: 1rem;
}

@media (min-width: 40rem) {
    .cards_item {
        width: 50%;
    }
}

@media (min-width: 56rem) {
    .cards_item {
        width: 33.3333%;
    }
}

.card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card_content {
    padding: 1rem;
    background: white;
}

.card_title {
    color: black;
    font-size: 1.8rem;
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
}

.card_text {
    color: black;
    font-size: 0.985rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    font-weight: 800;
}

.content-evento {
    width: 100%;
    height: 100%;
}

.content-evento #card-evento {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.content-evento #card-evento #cards-eventos #container-cards-eventos {}

#container-card-eventos {
    display: grid;
    grid-template-columns: 48.2% 51.8%;
    background-color: white;
    width: 98%;
    height: 90%;
    padding: 10px 5px;
    border-radius: 20px;
    margin: 2% 0;
    padding: 2%;
}

#part-two-card-eventos {
    margin-left: 4%;
    display: flex;
    flex-direction: column;
}

#evento-img {
    width: 300px;
    border-radius: 20px;
}

#title-evento {
    margin: 0;
    color: #000000;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Roboto';
}

#desc-evento {
    height: 62px;
    font-size: 0.9rem;
    line-height: 1.1rem;
    color: #218034;
    font-family: 'Roboto';
}

#parque-evento {
    font-size: 1rem;
    font-family: 'Roboto';
}

#evento-hora {
    float: right;
}

#data_e_hora {
    width: 95%;
}

#data_e_hora span {
    float: right;
    margin-right: 2%;
}

#btn-confirme-presenca {
    margin-top: 3%;
    padding: 3% 0;
    width: 95%;
    border-radius: 24px;
    border: none;
    text-transform: uppercase;
    background-color: black;
    color: white;
    transition: 0.1s ease-in-out;
    cursor: pointer;
}

#btn-confirme-presenca:focus {
    border: 1px solid black;
    background-color: white;
    color: black;
}

#btn-confirme-presenca:checked {
    background-color: white;
    color: black;
}

#pessoas-confirmadas {
    width: 95%;
    text-indent: 10px;
    background-color: #d6d6d6;
    padding: 2% 0;
}

#pessoas-confirmadas span {
    float: right;
    margin-right: 3%;
}

#div-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width: 250px;
    border-radius: 20px;
}

#info-eventos {
    display: grid;
    align-content: end;
}

main .main {
    width: 100%;
    height: 100%;
}

main .main .container-login-admins {
    color: #00F5A0;
    width: 40%;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    border: 1px solid #06D08A;
    border-radius: 5px;
}

main .main .container-login-admins .formulario {
    width: 70%;
    margin: 0 auto;
    text-align: left;
    padding: 10% 0;
}

.main .container-login-admins .formulario input {
    border: none;
    background-color: #E7E7E7;
    text-indent: 20px;
    padding: 2% 0;
    width: 100%;
    color: black;
}

.main .container-login-admins .formulario button {
    padding: 3% 42%;
    background-color: #06D08A;
    box-shadow: 0px 2px 5px rgba(120, 120, 120, 0.5);
    border-radius: 5px;
    border: none;
    color: white;
    transition: 0.4s ease-in-out;
}

.main .container-login-admins .formulario button:hover {
    background-color: white;
    color: #06D08A;
}