@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html {
    scroll-behavior: smooth;
    font-family: 'Roboto Mono', monospace;
}

body {
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    line-height: 1;
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #00F5A0 0%, #00D9F5 100%);
}

pre {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
}

textarea:focus,
input:focus,
select:focus,
button:focus {
    border: 0 none;
    outline: 0;
}

input {
    font-size: 15px;
    color: #01B979;
    font-weight: bold;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.highlight a {
    text-decoration: none;
    font-style: italic;
}

.header {
    background-color: white;
    color: #06D08A;
    min-height: 70px;
    border-bottom: #06D08A 5px solid;
}

.alinhar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.barra {
    font-size: 25px;
}

.header a {
    color: #06D08A;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
}

.header li {
    display: inline;
    padding: 0px 10px;
}

.main .container {
    width: 80%;
    margin: auto;
    justify-content: space-around;
}

.main .container {
    width: 80%;
    margin: auto;
    display: flex;
    text-align: center;
}

.main .container .box1 {
    width: 37%;
    height: 450px;
    background-color: #d3d3d3;
    border-bottom: #232323 3px solid;
    margin-top: 20px;
}

.main .container .box2 {
    width: 37%;
    height: 450px;
    background-color: #d3d3d3;
    border-bottom: #232323 3px solid;
    margin-top: 20px;
}

.main .box3 {
    width: 70%;
    margin: auto;
    background-color: #d3d3d3;
    height: 270px;
    text-align: center;
    border-bottom: #000 solid 3px;
}

#imagem {
    margin-top: 150px;
    margin-left: 30px;
    clear: both;
    float: left;
}

.conteudo {
    width: 500px;
    margin: 50px;
}

.conteudo h3 {
    font-size: 2rem;
    line-height: 2.5rem;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.conteudo h1 {
    font-size: 3rem;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.btn-saibamais {
    margin-top: 20px;
    margin-bottom: 20px;
}

#btn_entrar {
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    width: 300px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 30px;
    border: none;
    color: #06D08A;
    font-size: 18px;
    font-weight: bold;
    transition: all .3s ease;
    box-shadow: 0px 2px 5px rgba(120, 120, 120, 0.5);
}

#btn_entrar:hover {
    cursor: pointer;
    background-color: #06D08A;
    color: #ffffff;
    transition: all .3s ease;
}

.login {
    margin-top: 50px;
}

.boxLogin {
    margin: auto;
    font-size: 15px;
    width: 500px;
    padding: 40px;
    margin-bottom: 24px;
    text-align: center;
    background-color: white;
    box-shadow: 0px 4px 77px rgba(48, 48, 48, 0.25);
}

.cadastro {
    margin-top: 50px;
}

.boxCadastro {
    margin: auto;
    font-size: 15px;
    width: 900px;
    padding: 40px;
    margin-bottom: 24px;
    text-align: center;
    background-color: white;
    box-shadow: 0px 4px 77px rgba(48, 48, 48, 0.25);
}

.boxCadastro h2 {
    color: #06D08A;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.formCadastro form {
    justify-content: center;
    margin: auto;
}

#form_login {
    justify-content: center;
    margin: auto;
}


/* PARTE DO CADASTRO */

.formCadastro input {
    border-radius: 25px;
    border: none;
    background: rgba(120, 120, 120, 0.15);
    margin: 10px;
    width: 300px;
    height: 40px;
    text-indent: 10px;
    padding-left: 10px;
}

#form_login input {
    border-radius: 25px;
    border: none;
    background: rgba(120, 120, 120, 0.15);
    margin: 10px;
    width: 300px;
    height: 40px;
    text-indent: 10px;
    padding-left: 10px;
}

.formCadastro input::placeholder {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: #01B979;
    font-weight: bold;
}

#form_login input::placeholder {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: #01B979;
    font-weight: bold;
}

.btnCadastro {
    width: 300px;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    background: #06D08A;
    border-radius: 22px;
    border: none;
    color: white;
    font-size: 18px;
    margin-top: 35px;
    cursor: pointer;
    font-weight: 700;
    transition: .2s ease-in-out;
}

.btnCadastro:hover {
    background-color: #00D9F5;
    box-shadow: 0px 1px 5px rgba(120, 120, 120, 0.5);
}

#h1Login {
    margin: 0 0 20px 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 3rem;
    line-height: 56px;
    color: #06D08A;
}

#esqueciSenha {
    margin-top: 20px;
}

#esqueciSenha a {
    text-decoration: none;
    color: #06D08A;
    font-family: 'Roboto', sans-serif;
}

.image {
    float: right;
}

.format {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.format-side {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.home {
    height: 100vh;
    margin-top: -5%;
    display: flex;
    justify-content: center;
}

.footer {
    margin-top: 50px;
    background: #ffffff;
    color: #06D08A;
    width: 100%;
}

.footer h1 {
    font-size: 15px;
}

.alinharCentro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 150px;
}

@keyframes setaAnimation {
    0% {}
    100% {
        transform: translateY(3px);
    }
}

.seta {
    align-items: center;
    justify-content: center;
    display: flex;
}

.seta-animation {
    width: 75px;
    cursor: pointer;
    animation: setaAnimation .5s alternate-reverse infinite;
}

#sobre {
    width: 600px;
}

.border {
    border-radius: 20px;
}

.start {
    height: 75px;
    animation: setaAnimation .5s alternate-reverse infinite;
}

#braco {
    animation: braco-animate 3s ease-in-out alternate-reverse infinite;
    transform-origin: top;
    transform-box: fill-box;
}

@keyframes braco-animate {
    0% {}
    50% {
        transform: rotateZ(5deg);
    }
    100% {
        transform: rotateZ(8deg);
    }
}

#cabeca {
    animation: move-head 3s ease-in-out alternate-reverse infinite;
    transform-origin: bottom;
    transform-box: fill-box;
}

#cabeca1 {
    animation: move-head 3s ease-in-out alternate-reverse infinite;
}

@keyframes move-head {
    0% {}
    100% {
        transform: translateY(-8px);
        transform: rotateZ(2deg);
    }
}

#cabelo {
    animation: move-hair 3s ease-in-out alternate-reverse infinite;
}

@keyframes move-hair {
    0% {}
    100% {
        transform: translateY(-5px);
    }
}

#Group3 {
    animation: celular 5s ease alternate-reverse infinite;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes celular {
    0% {}
    100% {
        transform: rotateZ(5deg);
    }
}

#roupa {
    animation: roupa-animation 3s ease-in-out alternate-reverse infinite;
}

@keyframes roupa-animation {
    0% {}
    100% {
        transform: translateY(-10px);
    }
}

#nuvem1 {
    animation: nuvem 10s infinite;
    animation-delay: 1s;
}

#nuvem2 {
    animation: nuvem 8s infinite;
    animation-delay: 1s;
}

@keyframes nuvem {
    0% {
        opacity: 0;
    }
    20%,
    80% {
        opacity: 1;
    }
    100% {
        transform: translateX(-500px);
        opacity: 0;
    }
}

#sol {
    animation: sol 5s infinite alternate;
}

@keyframes sol {
    0% {}
    100% {
        transform: translateY(20px);
    }
}

#lines {
    stroke-dashoffset: 1000;
    stroke-dasharray: 1000;
    animation: lines 5s ease-in-out infinite forwards alternate-reverse;
    animation-delay: 2s;
}

@keyframes lines {
    0% {
        stroke-dasharray: 100;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 1000;
    }
}

#local-icon {
    animation: local-icon 3s infinite alternate-reverse;
}

@keyframes local-icon {
    0% {}
    100% {
        transform: translateY(-20px);
    }
}

#person {
    animation: person 1s forwards;
}

@keyframes person {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

#cabelo1 {
    animation: cabelo1 2s ease-in-out infinite alternate-reverse;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes cabelo1 {
    50% {
        transform: rotateZ(2deg);
    }
    100% {
        transform: rotateZ(10deg);
    }
}

body {
    width: 100%;
}

title {
    font-style: italic;
}

.dashboard {
    height: 600px;
    /* width: 150%; */
}

.boxDashboard,
.boxDashboard2,
.boxDashboard3,
.boxDashboard4 {
    /* margin-left: 50px; */
    margin: auto;
    font-size: 15px;
    width: 310px;
    height: 600px;
    padding: 40px;
    margin-bottom: 24px;
    text-align: center;
    background-color: white;
    box-shadow: 0px 4px 77px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    /* float: left; */
    /* float: left; */
}

.boxDashboard {
    margin-left: 50px;
    float: left;
}

.boxDashboard2 {
    float: left;
    margin-left: 50px;
}

.boxDashboard3 {
    float: left;
    margin-left: 50px;
}

.boxDashboard4 {
    float: left;
    margin-left: 50px;
    width: 310px;
    overflow: hidden;
}

.boxDashboard4 .h2Dashboard {
    overflow: hidden;
    margin-right: 10px;
    width: 167px;
}

.gradient {
    position: absolute;
    right: 0;
    top: 83.4px;
    /* border-radius: 30px 0px 0px 30px; */
    /* background-color: #000; */
    height: 818px;
    width: 130px;
    opacity: 0.7;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5550595238095238) 48%, rgba(0, 0, 0, 0.9752275910364145) 100%);
}

.boxDashboard input {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #01B979;
    border-radius: 25px;
    border: none;
    background: rgba(120, 120, 120, 0.15);
    margin: 10px;
    width: 300px;
    height: 40px;
    text-indent: 10px;
}

.boxDashboard input::placeholder {
    font-size: 15px;
    color: #01B979;
    font-weight: bold;
}

#h1Dashboard {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 56px;
    color: white;
    text-align: center;
}

.imagem1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imgstar {
    width: 25px;
}

.imgPark2 {
    height: 140px;
    padding: 5px;
}

.barraCinza {
    background-color: #232323;
    height: 2px;
    border-radius: 2px;
    width: 100%;
    margin: auto;
}

#imagemClima {
    width: 250px;
    background-color: #F15959;
    border-radius: 24px;
}

#imagemClimaBom {
    width: 300px;
    background-color: #00F5A0;
    border-radius: 24px;
}

#boxParque {
    margin: auto;
    font-size: 15px;
    width: 800px;
    padding: 40px;
    margin-bottom: 24px;
    text-align: center;
    background-color: white;
    box-shadow: 0px 4px 77px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.barraMeio {
    background-color: #232323;
    width: 2px;
    border-radius: 2px;
    height: 50px;
}

.infoClima {
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoClima h2 {
    font-size: 2.5em;
    margin: 0 20px 0 20px;
}

#tempCliente {
    background-color: #00D9F5;
}

.boxGrafico {
    margin: 20px;
    font-size: 15px;
    padding: 40px;
    margin-bottom: 24px;
    text-align: center;
    background-color: white;
    box-shadow: 0px 4px 77px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
}

.grafico {
    width: 100%;
    height: 500px;
}

#h1Calc {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: bold;
    font-size: 45.3px;
    line-height: 56px;
    color: #06D08A;
    margin-top: 0px;
}

.boxCalculadora {
    margin: auto;
    font-size: 15px;
    width: 600px;
    padding: 40px;
    margin-bottom: 24px;
    text-align: center;
    background-color: white;
    box-shadow: 0px 4px 77px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.boxCalculadora h2,
h3 {
    color: #06D08A;
}

.boxCalculadora input::placeholder {
    font-size: 15px;
    color: #01B979;
    font-weight: bold;
}

.boxCalculadora input {
    border-radius: 25px;
    border: none;
    background: rgba(120, 120, 120, 0.15);
    margin: 10px;
    width: 300px;
    height: 40px;
    text-indent: 10px;
    padding-left: 10px;
}

.button-calc {
    cursor: pointer;
    width: 210px;
    height: 40px;
    background-color: #00e699;
    border-radius: 10px;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
    transition: all .3s ease;
    box-shadow: 0px 2px 5px rgba(120, 120, 120, 0.5);
    margin-top: 20px;
    margin-bottom: 20px;
}

.button-calc:hover {
    cursor: pointer;
    background-color: #06D08A;
    color: #ffffff;
    transition: all .3s ease;
}

#result {
    display: none;
}

#temperatura {
    -webkit-appearance: none;
    width: 640px;
    height: 25px;
    background: linear-gradient(90deg, rgba(0, 255, 255, 1) 0%, rgba(51, 204, 204, 1) 25%, rgba(51, 204, 51, 1) 50%, rgba(255, 127, 0, 1) 75%, rgba(255, 80, 80, 1) 100%);
    outline: none;
    opacity: 0.7;
    padding-left: 10px;
    padding-right: 10px;
    transition: all .2s;
    cursor: pointer;
}

#temperatura:hover {
    opacity: 1;
}

#temperatura::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 40px;
    border-radius: 15px;
    background-color: white;
    border: gray 2px solid;
    cursor: pointer;
}

#umidade {
    -webkit-appearance: none;
    width: 640px;
    height: 25px;
    background: linear-gradient(90deg, rgba(255, 80, 80, 1) 0%, rgba(255, 127, 0, 1) 25%, rgba(51, 204, 51, 1) 50%, rgba(51, 204, 204, 1) 75%, rgba(0, 255, 255, 1) 100%);
    outline: none;
    opacity: 0.7;
    padding-left: 10px;
    padding-right: 10px;
    transition: all .2s;
    cursor: pointer;
}

#umidade:hover {
    opacity: 1;
}

#umidade::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 40px;
    border-radius: 15px;
    background: white;
    border: gray 2px solid;
    cursor: pointer;
}

#selectTemp {
    -webkit-appearance: none;
    appearance: none;
    width: 50px;
    padding: 5px;
    display: flex;
    justify-content: center;
}

#selectUmi {
    -webkit-appearance: none;
    appearance: none;
    width: 50px;
    padding: 5px;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0!important;
        width: 90%;
    }
    .title-header {
        width: 100%;
    }
    .title-header h1 {
        font-size: 1.8em;
        text-align: center;
    }
    .alinhar {
        flex-direction: column;
        margin: 0;
    }
    .header .nav {
        float: none;
        text-align: center;
        margin: 0px 0px 15px 0px;
    }
    .header .nav ul {
        padding: 0;
    }
    .header .nav ul li {
        padding: 0 5px;
    }
    .header .nav ul li a {
        font-size: 16px;
    }
    .format {
        flex-direction: column-reverse;
        flex-shrink: 2;
        margin: 20px 0;
        height: auto;
    }
    .conteudoEsquerda,
    .conteudoDireita {
        float: none;
        text-align: center;
    }
    .conteudo {
        width: 100%;
    }
    .conteudo h1 {
        font-size: 24px;
    }
    .conteudo h3 {
        font-size: 16px;
    }
    .button-s {
        font-size: 16px;
        width: 200px;
    }
    .image {
        float: none;
        width: 90%;
    }
    .format svg {
        width: 100%;
        height: auto;
    }
    .seta-animation {
        width: 50px;
    }
    /* Login */
    .boxLogin {
        padding: 40px 0;
        width: 90%;
    }
    #h1Login {
        font-size: 30px;
    }
    .formLogin {
        width: 90%;
    }
    .formLogin input {
        text-indent: 20px;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .formLogin input:first-child {
        margin-bottom: 10px;
    }
    .btnCadastro {
        font-size: 16px;
        margin-top: 15px;
        width: 100%;
    }
    #esqueciSenha a {
        font-size: 14px;
    }
    /* Sign up */
    .boxCadastro {
        padding: 40px 0;
        width: 90%;
    }
    .formCadastro {
        width: 90%;
    }
    .formCadastro input {
        text-indent: 20px;
        margin: 0;
        padding: 0;
    }
    .formCadastro input:not(:last-of-type) {
        margin-bottom: 10px;
    }
    /* Calculator */
    .boxCalculadora {
        padding: 40px 0;
        width: 90%;
    }
    #h1Calc {
        font-size: 30px;
        line-height: 35px;
        margin: 0 0 20px 0;
    }
    .boxCalculadora input {
        text-indent: 20px;
        margin: 0;
        padding: 0;
    }
    .boxCalculadora input:not(:last-of-type) {
        margin-bottom: 10px;
    }
    .boxCalculadora .btnCadastro {
        width: 90%;
    }
    /* Dashboard */
    #h1Dashboard {
        font-size: 30px;
    }
    .boxDashboard {
        padding: 40px 0;
        width: 90%;
    }
    .boxDashboard .imagem1 {
        flex-direction: column;
        margin-bottom: 10px;
    }
    .boxDashboard .imgPark2 {
        width: 120px;
        height: auto;
    }
    .boxDashboard .barraCinza {
        margin: 10px auto;
        width: 70%;
    }
    /* Park */
    #boxParque {
        padding: 40px 15px;
        width: 90%;
    }
    #imagemClima {
        width: 100px;
    }
    .infoClima h2 {
        font-size: 1.5em;
    }
    .infoClima .barraMeio {
        height: 25px;
    }
    #resultado {
        font-size: 18px;
    }
    #boxParque iframe {
        margin: 0!important;
        width: 100%;
    }
    #boxParque .btn-saibamais {
        margin-bottom: 0;
    }
    .modal-header .close {
        right: 7px;
        font-size: 30px;
    }
    .modal-title {
        font-size: 18px;
    }
    .modal-body {
        overflow: scroll;
    }
    .modal-body::after {
        content: '* Arraste para o lado para ver tudo';
        color: #c6c6c6;
    }
    .alinharCentro {
        text-align: center;
    }
}

#temperatura {
    padding: 5px 10px;
    width: 90%;
}

#umidade {
    padding: 5px 10px;
    width: 90%;
}

#selectTemp {
    -webkit-appearance: none;
    appearance: none;
    width: 50px;
    padding: 5px;
    display: flex;
    justify-content: center;
}

#selectUmi {
    -webkit-appearance: none;
    appearance: none;
    width: 50px;
    padding: 5px;
    display: flex;
    justify-content: center;
}

html,
body {
    height: 100%;
    /* overflow-x: hidden; */
}

.container-general {
    min-height: px;
}

.container-park {
    z-index: 0 !important;
    text-align: center;
    padding: 50px 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

.container-park h1 {
    margin-top: 0;
    font-size: 42px;
    padding: 0;
    padding: 20px;
}

.slide-park {
    position: relative;
    min-height: 65vh;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.container-slide-park {
    height: 90%;
}

#park {
    overflow-x: hidden;
    border-radius: 20px;
    background: #fff;
    width: 20%;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    overflow: hidden;
    transition: 0.5s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#park:hover {
    transform: scale(1.04);
}

.park-img {
    width: 100%;
    height: 45%;
}
.about-park #park-img {
    border-radius: 30px 30px 0px 0px;
    width: 100%;
}

#park h3 {
    padding-top: 20px;
    margin: 0;
    font-size: 2.2rem;
    color: #303030;
}

#park-button {
    text-align: center;
    width: inherit;
    padding: 30px 0;
    font-size: 24px;
    color: #00D9F5;
    cursor: pointer;
    border-top: 3px solid #00D9F5;
    user-select: none;
}

#park-button:hover {
    background-color: #00D9F5;
    color: #fff;
    border: 5px solid #fff;
    border-radius: 0px 0px 20px 20px;
    transition: 0.5s;
}

#park-button:active {
    background-color: #00e699;
    color: #fff;
    transition: 0.01s;
}

#park:hover #park-button {
    width: -webkit-fill-available;
}

#stars {
    margin-bottom: 25px;
}
#eventoText {
    margin-left: 10px;
    text-align: center;
    font-size: 18px;
    /* margin-bottom: 25px; */
}
#date-event {
    font-size: 18px;
    text-align: center;
    margin-left: 10px;
    margin-bottom: 10px;
}
#card-eventos {
    overflow-x: hidden;
    border-radius: 20px 20px 0px 0px;
    background: #fff;
    width: 23%;
    height: 112%;
    display: inline-flex;
    flex-direction: column;
    overflow: hidden;
    transition: 0.5s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#stars img {
    width: 45px;
    margin: 0;
    padding: 0;
}

#park-display {
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#title-selection-park {
    font-size: 3rem;
    font-family: 'Roboto', sans serif;
    color: #ffffff;
    text-align: center;
}

.grafico-park {
    height: 66vh;
    padding: 0 50px 50px 50px;
}

.grafico-park iframe {
    height: 100%;
    width: 100%;
}

.body-park {
    margin: 5% 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.body-park .container-dash {
    border-radius: 30px;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.7);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 25% 75%;
}

.part-one {
    /* display: grid;
    grid-template-rows: 1fr 1fr 1fr; */
    margin-left: 5%;
    margin-top: 5%;
}

.part-one .about-park {
    height: 40%;
    width: 80%;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 30px;
    text-align: center;
    margin-left: 6%;
    margin-top: 6%;
    box-shadow: 0px 2px 5px rgba(120, 120, 120, 0.5);
}

.img-parque {
    width: 100%;
    height: 40%;
    border-radius: 30px 30px 0px 0px;
}

.img-parque.chicomendes {
    width: 100%;
    height: 60%;
    background-image: url('./../images/chicomendes.jpg');
    background-size: 120%;
    background-position-x: center;
    background-repeat: no-repeat;
}

.img-parque.juventude {
    width: 100%;
    height: 60%;
    background-image: url('./../images/juventude.jpg');
    background-size: 120%;
    background-position-x: center;
    background-repeat: no-repeat;
    /* background-position-x: center; */
}

.part-one .about-park h3 {
    font-size: 28px;
    color: black;
}

.part-one .umidade {
    margin-left: 5%;
    height: 17%;
    width: 80%;
    text-align: center;    
    background-color: rgba(131, 169, 255);
    border-radius: 30px;
    font-size: 15px;
    color: #fff;
    font-weight: lighter;
    box-shadow: 0px 2px 5px rgba(120, 120, 120, 0.5);
}

.part-one .temperatura {
    margin-left: 5%;
    border-radius: 30px;
    height: 17%;
    width: 80%;
    background-color: rgba(255, 128, 128);
    text-align: center;
    color: #fff;
    font-size: 15px;
    font-weight: lighter;
    box-shadow: 0px 2px 5px rgba(120, 120, 120, 0.5);
}

.part-one #img-componentes {
    height: 88px;
    margin-top: -9%;
    margin-left: 75%;
}
#button-eventos {
    border: 1px solid #000;
    padding: 10px 0px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
#button-eventos:hover {
    border: 1px solid #fff;
    background-color: #000;
    color: #fff;
}
hr.hr {
    border: 1px solid black;
    width: 100%;
}
.body-park .container-dash .part-one .about-park #classification #img-classification {
    height: 20px;
}

.part-two .container-part-two {
    height: 94%;
    width: 97%;
    background-color: rgba(255, 255, 255, 1);
    margin: 3% 6% 3% 0;
    border-radius: 30px;
    box-shadow: 0px 2px 5px rgba(120, 120, 120, 0.5);
}

.part-two .container-part-two #title-history {
    font-size: 22px;
    color: #000;
    margin-left: 10%;
}

.part-two .container-part-two #title-history::before {
    content: '';
    height: 4px;
    width: 83px;
    background: linear-gradient(90deg, #00F5A0 0%, #00D9F5 100%);
    display: block;
    margin-bottom: -1.7%;
    margin-left: -11.2%;
}

.part-two .container-part-two #title-history::after {
    content: '';
    height: 4px;
    width: 699px;
    background: linear-gradient(90deg, #00F5A0 0%, #00D9F5 100%);
    display: block;
    margin-top: -1.5%;
    margin-left: 12%;
}

.part-two .container-part-two #title-localization {
    font-size: 22px;
    color: #000;
    margin-left: 10%;
}

.part-two .container-part-two #title-localization::before {
    content: '';
    height: 4px;
    width: 83px;
    background: linear-gradient(90deg, #00F5A0 0%, #00D9F5 100%);
    display: block;
    margin-bottom: -1.7%;
    margin-left: -11.2%;
}

.part-two .container-part-two #title-localization::after {
    content: '';
    height: 4px;
    width: 672px;
    background: linear-gradient(90deg, #00F5A0 0%, #00D9F5 100%);
    display: block;
    margin-top: -1.5%;
    margin-left: 15.5%;
}


/* carousel ------------------------


⣿⣿⣿⣿⣿⣿⣿⣿⡿⠿⠛⠛⠛⢻⡻⠿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣟⣫⡾⠛⠛⠛⠛⠛⠛⠿⣾⣽⡻⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⡟⣼⠏⠀⠀⠀⠀⠀⠀⣀⣀⡀⣙⣿⣎⢿⣿⣿⣿
⣿⣿⣿⣿⣿⢹⡟⠀⠀⠀⣰⡾⠟⠛⠛⠛⠛⠛⠛⠿⣮⡻⣿⣿
⣿⡿⢟⣻⣟⣽⠇⠀⠀⠀⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⢿⡹⣿
⡟⣼⡟⠉⠉⣿⠀⠀⠀⠀⢿⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⣼⢟⣿
⣇⣿⠁⠀⠀⣿⠀⠀⠀⠀⠘⢿⣦⣄⣀⣀⣀⣀⣤⡴⣾⣏⣾⣿
⡇⣿⠀⠀⠀⣿⠀⠀⠀⠀⠀⠀⠈⠉⠛⠋⠉⠉⠀⠀⢻⣿⣿⣿
⢃⣿⠀⠀⠀⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣧⣿⣿
⡻⣿⠀⠀⠀⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣸⣧⣿⣿
⡇⣿⠀⠀⠀⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⢹⣿⣿
⣿⡸⢷⣤⣤⣿⡀⠀⠀⠀⠀⢠⣤⣄⣀⣀⣀⠀⠀⢠⣿⣿⣿⣿
⣿⣿⣷⣿⣷⣿⡇⠀⠀⠀⠀⢸⡏⡍⣿⡏⠀⠀⠀⢸⡏⣿⣿⣿
⣿⣿⣿⣿⣿⢼⡇⠀⠀⠀⠀⣸⡇⣷⣻⣆⣀⣀⣀⣼⣻⣿⣿⣿
⣿⣿⣿⣿⣿⣜⠿⢦⣤⣤⡾⢟⣰⣿⣷⣭⣯⣭⣯⣥⣿⣿⣿⣿

*/

.cd-slider.ie9 nav div span {
    display: none;
}

.cd-slider ul li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    -webkit-transition: visibility 0s .6s;
    transition: visibility 0s .6s;
}

.content {
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: opacity .4s .6s, -webkit-transform .4s .6s;
    transition: opacity .4s .6s, -webkit-transform .4s .6s;
    transition: opacity .4s .6s, transform .4s .6s;
    transition: opacity .4s .6s, transform .4s .6s, -webkit-transform .4s .6s;
}


/* current slide
---------------------------------*/

.cd-slider li.current_slide {
    visibility: visible;
}

.cd-slider li.current_slide::before {
    border-width: 29rem;
}

.cd-slider li.current_slide .content {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}


/* nav
---------------------------------*/

nav div {
    position: absolute;
    top: 50%;
    left: 4%;
    width: 5rem;
    height: 5rem;
    margin-top: -2.5rem;
    list-style: none;
}

nav div:last-of-type {
    left: auto;
    right: 4%;
}

.prev,
.next {
    position: relative;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 100%;
    -webkit-transition: box-shadow .3s;
    transition: box-shadow .3s;
}

.prev::before,
.prev::after,
.next::before,
.next::after {
    content: '';
    position: absolute;
    left: 43%;
    background: #fff;
    width: .4rem;
    min-width: 3px;
    border-radius: 3px;
    height: 34%;
}

.prev::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 24%;
}

.prev::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 24%;
}

.next::before,
.next::after {
    left: auto;
    right: 43%;
}

.next::before {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 24%;
}

.next::after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: 24%;
}

.prev:hover,
.next:hover {
    box-shadow: 0 0 0 1rem rgba(0, 0, 0, 0.15);
}

nav>div>span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    border-radius: 100%;
    z-index: 5;
    pointer-events: none;
    will-change: width, height;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: width .6s, height .6s;
    transition: width .6s, height .6s;
}